.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  margin: 0 0.3rem;
  padding: 0.5rem;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: #14abf1;
  box-shadow: 4px 4px 4px #ccc;
}
